##### Coefficient

In [84]:
import pandas as pd
import numpy as np

In [68]:
real = pd.read_csv("sfbay_cex_1990_2015_2015USD.csv")

In [69]:
real.dropna(inplace = True)
real.drop(real.columns[[0, 1]], inplace = True, axis = 1)

In [70]:
pred = pd.read_csv("pred_5county_avg.csv")
pred.drop(pred.columns[[0, 1, 2]], inplace = True, axis = 1)

In [89]:
coeff = pd.DataFrame(pred.values / real.values)
coeff.columns = real.columns

In [90]:
coeff

,TotalExpenditures,TotalFood,FoodAtHome,FoodAwayFromHome,AlcoholicBeverages,Cerealsandbakeryproducts,Meatspoultryfishandeggs,Dairyproducts,Fruitsandvegetables,Otherfoodathome,...,Entertainment,EntertainmentGoods,EntertainmentServices,PersonalCareProductsAndServices,Reading,Education,TobaccoAndSmokingSupplies,MiscellaneousExpenditures,CashContributions,PersonalInsuranceAndPensions
0,0.557043,0.618558,0.736423,0.472645,0.363514,0.551728,0.716275,0.648591,0.932599,0.763831,...,0.322769,0.302066,0.454626,0.282143,0.575189,2.452742,0.769374,0.139999,0.504889,0.721481
1,0.391134,0.416603,0.479798,0.327835,0.303828,0.429538,0.377743,0.546974,0.574739,0.526622,...,0.308962,0.358949,0.351489,0.237756,0.370459,1.070946,2.081560,0.215520,0.591532,0.355840
2,0.326683,0.369755,0.478743,0.200173,0.367874,14.872458,4.672092,1.598932,10.565882,12.352629,...,0.251421,0.245021,0.262424,0.236468,0.627292,0.496347,3.327110,0.160376,0.199325,0.379902
3,0.325113,0.360121,0.520704,0.173686,0.267508,18.731979,4.423045,1.827334,10.896805,14.468009,...,0.247733,0.258603,0.237835,0.234791,0.719757,0.523175,4.176743,0.240121,0.189790,0.369571

##### 2015

In [101]:
pred2015 = pd.read_csv("pred_fmli_sf2015.csv")
Geo_GEOID = pred2015["CT.Geo_GEOID"]
Geo_NAME = pred2015["CT.Geo_NAME"]

In [92]:
pred2015.drop(pred2015.columns[[0, 1, 2]], inplace = True, axis = 1)

In [94]:
real2015 = pred2015.div(np.array(coeff.loc[0, :]), axis = "columns")

In [103]:
real2015["Geo_GEOID"] = Geo_GEOID
real2015["Geo_NAME"] = Geo_NAME

In [105]:
cols = list(real2015.columns)
cols = [cols[len(cols) - 2]] + [cols[len(cols) - 1]] + cols[:len(cols) - 2]
real2015 = real2015[cols]

In [106]:
real2015.head()

,Geo_GEOID,Geo_NAME,TotalExpenditures,TotalFood,FoodAtHome,FoodAwayFromHome,AlcoholicBeverages,Cerealsandbakeryproducts,Meatspoultryfishandeggs,Dairyproducts,...,Entertainment,EntertainmentGoods,EntertainmentServices,PersonalCareProductsAndServices,Reading,Education,TobaccoAndSmokingSupplies,MiscellaneousExpenditures,CashContributions,PersonalInsuranceAndPensions
0,14000US06075010100,"Census Tract 101, San Francisco County, Califo...",50995.897447,7461.784729,3751.512352,4062.392214,843.393707,595.031437,886.074148,442.351860,...,2839.012346,1775.979565,1251.344155,606.240180,218.406093,299.898636,619.806323,1371.062613,1668.612385,5141.069389
1,14000US06075010200,"Census Tract 102, San Francisco County, Califo...",62871.811266,8102.461282,3934.952637,4357.597126,1081.232033,624.207551,929.398965,463.944698,...,3554.569849,2015.436637,1541.683455,717.125806,287.028328,411.740443,397.195667,1484.472596,2162.007543,6553.059452
2,14000US06075010300,"Census Tract 103, San Francisco County, Califo...",62195.132542,8511.862591,4255.174258,4470.840398,955.766414,675.008063,1005.016398,501.692848,...,3303.337596,1939.321303,1483.061101,712.005488,280.203279,419.541631,491.371880,1522.079433,2066.526354,6239.736897
3,14000US06075010400,"Census Tract 104, San Francisco County, Califo...",61689.013791,8187.744787,4021.139684,4411.866150,1017.580765,637.867807,949.751011,474.111457,...,3513.211361,1999.039425,1554.966744,696.559497,270.631902,401.339996,397.080376,1503.802223,2103.373576,6518.697869
4,14000US06075010500,"Census Tract 105, San Francisco County, Califo...",53609.236099,7321.545608,3552.759023,4131.673389,960.128813,563.509632,839.142758,418.922276,...,3102.830903,1858.304836,1350.036278,617.775520,222.757285,291.052674,504.253437,1388.454762,1866.765785,5893.329879

In [108]:
real2015.to_csv("real_fmli_sf2015.csv")

##### 2010

In [112]:
pred2010 = pd.read_csv("pred_fmli_sf2010.csv")
Geo_GEOID = pred2010["CT2010.Geo_GEOID"]
Geo_NAME = pred2010["CT2010.Geo_NAME"]

In [113]:
pred2010.drop(pred2010.columns[[0, 1, 2]], inplace = True, axis = 1)

In [114]:
real2010 = pred2010.div(np.array(coeff.loc[1, :]), axis = "columns")

In [115]:
real2010["Geo_GEOID"] = Geo_GEOID
real2010["Geo_NAME"] = Geo_NAME

In [116]:
cols = list(real2010.columns)
cols = [cols[len(cols) - 2]] + [cols[len(cols) - 1]] + cols[:len(cols) - 2]
real2010 = real2010[cols]

In [117]:
real2010.head()

,Geo_GEOID,Geo_NAME,TotalExpenditures,TotalFood,FoodAtHome,FoodAwayFromHome,AlcoholicBeverages,Cerealsandbakeryproducts,Meatspoultryfishandeggs,Dairyproducts,...,Entertainment,EntertainmentGoods,EntertainmentServices,PersonalCareProductsAndServices,Reading,Education,TobaccoAndSmokingSupplies,MiscellaneousExpenditures,CashContributions,PersonalInsuranceAndPensions
0,14000US06075010100,"Census Tract 101, San Francisco County, Califo...",56546.349893,8242.565139,4652.190951,3746.393812,1040.624916,727.379865,1182.043798,448.848652,...,2343.723510,1383.585079,1094.613448,714.414450,241.504110,1430.566396,305.402251,1049.483149,890.482117,5985.619815
1,14000US06075010200,"Census Tract 102, San Francisco County, Califo...",73151.854695,9167.564290,4910.361887,4313.715216,1147.037855,767.850670,1247.516220,473.763211,...,2991.046762,1561.536178,1366.230281,862.246010,311.252176,1545.588687,325.284624,1251.959437,1242.634724,8830.237950
2,14000US06075010300,"Census Tract 103, San Francisco County, Califo...",66562.537520,9394.029286,5419.464666,4090.552852,1017.229531,847.475382,1376.845836,522.876900,...,2763.114966,1505.719053,1281.441505,847.726696,289.224486,1182.341726,304.216419,1108.669547,1129.837061,7580.377087
3,14000US06075010400,"Census Tract 104, San Francisco County, Califo...",67946.784604,9136.014143,5133.872202,4083.253965,1063.491803,802.799610,1304.299750,495.330726,...,2778.399944,1493.009371,1279.505005,847.806098,291.485625,1340.145757,306.539712,1150.503193,1144.884522,7791.823326
4,14000US06075010500,"Census Tract 105, San Francisco County, Califo...",67687.784991,8951.843582,4891.870662,4178.147332,1088.673618,764.948790,1242.854831,471.969390,...,2762.765643,1476.831971,1289.928387,824.783634,287.956716,1365.074147,320.489144,1135.277466,1158.276237,8206.954067

In [119]:
real2010.to_csv("real_fmli_sf2010.csv")

##### 2000

In [131]:
pred2000 = pd.read_csv("pred_fmli_sf2000.csv")
Geo_FIPS = pred2000["CT2000.Geo_FIPS"]
Geo_NAME = pred2000["CT2000.Geo_NAME"]

In [132]:
pred2000.drop(pred2000.columns[[0, 1, 2]], inplace = True, axis = 1)

In [133]:
real2000 = pred2000.div(np.array(coeff.loc[2, :]), axis = "columns")

In [134]:
real2010["Geo_FIPS"] = Geo_FIPS
real2010["Geo_NAME"] = Geo_NAME

In [136]:
cols = list(real2000.columns)
cols = [cols[len(cols) - 2]] + [cols[len(cols) - 1]] + cols[:len(cols) - 2]
real2000 = real2000[cols]

In [137]:
real2000.head()

,CashContributions,PersonalInsuranceAndPensions,TotalExpenditures,TotalFood,FoodAtHome,FoodAwayFromHome,AlcoholicBeverages,Cerealsandbakeryproducts,Meatspoultryfishandeggs,Dairyproducts,...,LocalPublicTransportationExclOnTrips,Healthcare,Entertainment,EntertainmentGoods,EntertainmentServices,PersonalCareProductsAndServices,Reading,Education,TobaccoAndSmokingSupplies,MiscellaneousExpenditures
0,1477.593098,8617.310821,53174.805146,6663.848537,3522.587240,3429.175123,735.728411,533.199768,722.789468,407.938339,...,203.624391,2896.588233,2431.600081,1629.944429,1024.601954,714.607634,157.069071,2060.185140,162.343967,1038.517494
1,2229.413860,14324.794255,66821.560473,7265.475550,3604.453109,4204.819135,767.197508,540.608604,726.644892,414.482349,...,203.899682,3327.930913,3163.081091,1855.564701,1385.525800,776.462137,188.234262,2583.166885,163.483128,1172.724211
2,2071.580552,10057.554902,63145.913097,7600.355974,3975.975652,3897.753784,743.766237,573.345576,800.501566,446.391126,...,209.190745,3405.927427,3041.487583,1857.334014,1292.037813,792.712572,177.045717,2111.056587,163.690861,1134.938990
3,2040.997742,11787.223191,64785.460291,7546.045517,3887.083132,3995.874152,754.238061,567.198533,785.337343,439.327379,...,210.594576,3308.997044,3064.850667,1863.484865,1302.088013,787.053416,178.087081,2225.610263,163.815640,1140.367441
4,1919.372625,13658.487477,61547.985522,6888.355170,3448.468870,3965.621076,765.171454,526.925016,700.958832,401.219197,...,206.052603,3064.905893,2889.466644,1763.896277,1263.032394,741.850656,178.171436,2471.913353,162.366671,1122.110249

In [138]:
real2000.to_csv("real_fmli_sf2000.csv")

##### 1990